h3 {
    color: brown;
}

.container {
    color: goldenrod;
    border-style: dashed;
    border-color: green;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.container-bg {
    background-color: grey;
}

.my-font {
    font-family: "Noto Sans Thai", sans-sarif;
}

#container-id {
    color: red;
    margin-top: 50px;
}